{% extends "base.html" %}

{% block title %}
Comment detail
{% endblock title %}    

{% block body %}

<h3>{{tweet.author}} - {{tweet.created_at}}</h3>
<h3>{{tweet.content}}</h3>
<p>{{like_count}}</p>

{% if tweet.author == request.user %}
    <form action="{% url 'delete' tweet.id %}" method="post">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>
{% endif %}

<form method="post" action="/like/">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="tweet" value="{{tweet.pk}}">
    <input type="submit" value="like">
</form>

<form method="post" action="/bookmark/" >
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="tweet" value="{{ tweet.pk }}">
    {% if bookmark %}
        <input type="submit" value="remove bookmark">
    {% else %}
        <input type="submit" value="bookmark">
    {% endif %}
</form> 

<form method="post" action="/comment/" enctype="multipart/form-data">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="tweet" value="{{tweet.pk}}">
    <input type="submit" value="Comment">
</form>



    {% for comment in tweet_comments %}
        <div class="comment">
            {% if not comment.parent_comment %}
            <h3>{{ comment.author }} - {{ comment.created_at }}:</h3>
            <h3>{{ comment.content }}</h3>
            <p> likes: {{ comment.comment_likes.count }}</p>
                {% if comment.image %}
                    <img src={{comment.image.url}} style="max-width:200px;max-height:200px">
                {% elif comment.video %}
                    <video width="200" height="200" controls>
                        <source src={{comment.video.url}} type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <br>
                <form method="post" action="/comment-like/" >
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="comment" value="{{ comment.pk }}">
                    <input type="submit" value="like comment">
                </form>
                
                <form method="post" action="/comment/" enctype="multipart/form-data" style="display: inline-block;">
                    {% csrf_token %}
                    {{comment_form.as_div}}</div>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                    <input type="hidden" name="tweet" value="{{tweet.pk}}">
                    <input type="submit" value="Comment">
                    
                </form>

            {% endif %}
              
            {% if comment.replies.all %}
                <div class="nested-replies">
                    {% for reply in comment.replies.all %}
                        <div class="reply">
                            <h3>reply to {{comment.author}}</h3>
                            <h3>{{ reply.author }} - {{ reply.created_at }} </h3>
                            <p>{{ reply.content }}</p>
                            {% if reply.image %}
                                <img src={{reply.image.url}} style="max-width:200px;max-height:200px">
                
                            {% elif reply.video %}
                                <video width="200" height="200" controls>
                                    <source src={{reply.video.url}} type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}


{% endblock body %}